<!-- nav -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <!-- <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">主页</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">动态</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">关于</a>
    </li>
  </ul> -->
    <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    
    <div id="aimona_navbar">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/">Home</a>
                </li>
                {% for page in site.pages %}{% if page.title %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endif %}{% endfor %}
            </ul>
        </div>
    </div>
</nav>

<script>

</script>