---
layout: default
---

<div id="demo" class="carousel slide" data-ride="carousel">

  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
 
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ site.baseurl }}/assets/img/default/out_01.jpg">
      <div class="carousel-caption">
        <h3>Hello,world</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{{ site.baseurl }}/assets/img/default/out_02.jpg">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="carousel-item">
      <img src="{{ site.baseurl }}/assets/img/default/out_03.jpg">
      <div class="carousel-caption">
      </div>
    </div>
  </div>
 
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
 
</div>